@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;

}

p {
    line-height: 1.5;
    margin: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.5;
    margin-bottom: 3px;
    margin: 0;
}

button {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

button,
input[type=text],
input[type=submit] {
    font-family: "Josefin Sans", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Global CSS End */

/*Header CSS Start */
.logo img {
    text-align: center;
    width: 100%;
    max-width: 100px;
    vertical-align: middle;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
}

.fixed-header {
    background-color: #fff;
}

.fixed-header .main-navbar ul li a {
    color: #000;
}

.main-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 5px 0;
    gap: 20px;
}


.main-navbar ul li a {
    display: inline-block;
    padding: 10px;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 500;
    position: relative;
}

.main-navbar ul li a:after {
    display: block;
    border-bottom: solid 1px #b85423;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
}

.main-navbar ul li a:hover:after,
.main-navbar ul li a.active:after {
    width: 100%;
}

.main-navbar ul li a.active {
    color: #b85423;
}

.close-icon {
    display: none;
}

.menu-icon {
    display: none;
    color: #b85423;
    width: 30px;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    z-index: 60;
}

.header-icons-wrapper {
    width: 100%;
    margin-bottom: -50px;
}

.header-icons {
    color: #b44d1a;
    display: inline-flex !important;
    margin: 0 3px;
}




/* Header CSS End */

/* Offer Text CSS Start */
.offer-display {
    background-color: #242833;
}

.offer-text p {
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1px;
    font-weight: 700;
}

/* Offer Text CSS Start */

/* Banner Slider CSS Start */
.banner-slider-wrapper {
    position: relative;
}

.banner-slider .slick-dots {
    position: relative;
    margin-top: 25px;
}

button#slider-toggle {
    border: none;
    background: transparent;
    position: absolute;
    left: calc(50% + 90px);
    z-index: 30;
    bottom: -30px;
}

button#slider-toggle::before {
    border-left: 1px solid #000;
    content: "";
    display: block;
    position: absolute;
    height: 25px;
}


.banner-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #EA090E;
}

.banner-slider .slick-dots li button:before {
    font-size: 50px;
    color: #EA090E;
}


.banner-slider .slick-next:before {
    content: '>';
    font-size: 40px;
}

.banner-slider .slick-prev:before {
    content: '<';
    font-size: 40px;
}

.banner-slider .slick-prev,
.banner-slider .slick-next {
    bottom: -35px;
    top: auto;

}

.banner-slider .slick-next::before,
.banner-slider .slick-prev:before {
    font-size: 25px;
    opacity: 1;
    color: red;
}

.banner-slider .slick-next {
    right: calc(50% - 80px);
}

.banner-slider .slick-prev {
    left: calc(50% - 80px);
}

section.favorite-brands {
    margin: 130px auto 80px auto;
}

.favorite-cards-text h3 {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.6px;
    font-weight: 700;
}

.favorite-cards-text p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.btn {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 8px;
    padding: 15px 60px;
    margin: 15px auto;
}

.btn-red {
    background: #cd090b;
    color: #fff;
    border: 1px solid #cd090b;
}

.btn-brown {
    background:
        linear-gradient(180deg,
            rgba(215, 106, 82, 1) 1.9999999552965164%,
            rgba(220, 145, 91, 1) 100%)

}

.btn-red:hover {
    color: #cd090b;
    background-color: #fff;
    border-color: #cd090b;
}

/* Banner Slider CSS End */

/* Favorite Cards Section CSS Start */
.odd-heading {
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0.6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.odd-heading::before {
    display: block;
    content: " ";
    border: 0.5px solid #cb5959;
    width: 150px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.odd-heading::after {
    display: block;
    content: " ";
    border: 0.5px solid #cb5959;
    width: 150px;
    top: 50%;
    right: 0;
}


.syrup-collection-section {
    background-image: url("../images/syrup-collection-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.index1  .syrup-collection-section{
    background-image: url("../images/syrup-collection1-bg.png");  
}

.syrup-collection-wrapper h2 {
    color: #fff;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.6px;
    font-weight: 700;
    max-width: 370px;
    margin-left: auto;
}

.syrup-collection-bottles {
    height: 100%;
    width: 100%;
}

.syrup-collection-bottles img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.syrup-collection-bottle-wrapper {
    margin-top: 100px;
}

/* Premium Quality Section CSS Start */
.premium-quality-section {
    padding: 100px 0;
}

.premium-quality-content {
    background-image: url("../images/premium-quality-card-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 130px;
    width: 100%;
    overflow: hidden;
}

.premium-quality-content h3 {
    font-size: 28px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #FFF;
}

.premium-quality-content p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.premium-quality-section .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #1b8853;
    border-radius: 50%;
}

.premium-quality-section .slick-dots li button {
    font-size: 30px;
    border-color: rgba(27, 136, 83, 0.57);
    color: #fff;
}

.premium-quality-section .slick-dots li button:before {
    font-size: 50px;
    color: #1b8853;
}

/* Premium Quality Section CSS End */

/* Syruvia History CSS Start */

.syruvia-history-section {
    background-image: url("../images/syruvia-history-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 0;
    margin: 50px 0 70px 0;
}
.index1 .syruvia-history-section{
    background-image: url("../images/syruvian-history1-bg.png");
}

.syruvia-history-wrapper h2 {
    font-size: 28px;
    line-height: 71px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #fff;
}

.syruvia-history-image {
    max-width: 620px;
    margin: 80px auto;
}

.syruvia-history-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.syruvia-history-text p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.btn-white {
    background: #fff;
    color: #000;
    border: 1px solid transparent;
}

.btn-white:hover {
    background-color: #fff;
    color: #cd090b;
    border: 1px solid #fff;
}

/* Syruvia History CSS End */


/* Footer CSS Start */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-pages,
.footer-follow-us,
.footer-contact-us {
    width: 22%;
}

.footer-stay {
    width: 34%;
}

.footer-items h3 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.footer-items ul li a {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
}


.footer-input {
    border-radius: 8px;
    border: 0.5px solid #c9c9c9;
    font-size: 11px;
    line-height: 1;
    font-weight: 400;
    padding: 12px 20px;
    width: 65%;
    outline: none;
}

.footer-submit-btn {
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    border: 0.5px solid transparent;
    background-color: #EA090E;
    color: #fff;
    padding: 12px 40px;
    border-radius: 8px;
}
.index1 .footer-submit-btn{
    background-color: #b85423;
}

.footer-submit-btn:hover {
    background-color: #fff;
    color: #cd090b;
    border-color: #cd090b;
}

.copyright {
    border-top: 0.5px solid #c9c9c9;
}

/* Footer CSS End */

/* Prodcut Page CSS Start */





/* Prodcut Page CSS End */